/***** NAVBAR *******************/
nav {
  position: relative;
  text-align: center;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  background-image: url("../../retro-diamond.jpg");
}
.logo-type {
  margin: auto;
  color: rgb(230, 228, 228);
  font-size: 180%;
  font-family: 'Racing Sans One', cursive;
  letter-spacing: .05em;
}

/* layout toggler elements */
.layout {    
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-align: right;
  margin-top: 20px;
  margin-right: 4px;
}
.layout h5 {
  display: inline-block;
  font-size: 100%;
  color: rgb(230, 228, 228);
  margin-right: 4px;
}
.layout i.fa-bars {
  color: rgb(112, 112, 112);
  font-size: 110%;
  margin-left: 6px;
}
.layout i.fa-bars:hover {
  color: rgb(230, 228, 228);
  cursor: pointer;
}
.layout i.fa-bars.active {
  color: rgb(230, 228, 228);
}
.layout-vert {
  transform: rotate(90deg);
}